#portfolio {
    margin-top: 400px;
}


#portfolio h2, #portfolio h5{
    text-align: center;
    color: var(--color-light);
}

#portfolio h2{
    color: var(--color-white);
    margin-bottom: 3rem;
}

#portfolio > div{
    display: flex;
}

.portfolio__container{
    width: var(--container-width-lg-two);
    margin: 0 auto;
}

.portfolio__item {
    height: 25rem;
    width: 20%;
    background: var(--color-black);
    border-radius: 2rem;
    border: 1px solid var(--color-white);
    text-align: center;
    transition: transform .8s;
    transform-style: preserve-3d;
    position: relative;
}

.portfolio__item:hover {
    border-color: var(--color-white);
    background: transparent;
}

/* .portfolio__item-image{
} */

.item__summary__container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.item__detail__description{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    display: grid;
    align-content: space-evenly;
    color: var(--color-black);
    background-color: var(--color-white);
    transform: rotateY(180deg);
}

.item__summary__container, .item__detail__description{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
}

.portfolio__item:hover {
    transform: rotateY(180deg);
  }

.portfolio__item a{
    width: 30%;
    padding: 0.4rem 1.2rem;
    border: 1px solid var(--color-black);
    color: var(--color-black);
}

.portfolio__item a:hover{
    background-color: var(--color-black);
    color: var(--color-white);
}

.portfolio__item-image{
    padding: 2rem;
}

.portfolio__container{
    width: 80%;
    display: inline-flex;
    align-items: center;
    gap: 2rem;
}

.portfolio__container .leftArrow:hover, .portfolio__container .rightArrow:hover{
    cursor: pointer;
}

.slide__container{
    display: contents;
}

.portfolio__container h5{
    font-weight: 100;
}