#contact{
    height: auto;
}

.contact__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0rem;
    /* border: 1px solid white; */
}

.contact__container > div{
    width: 40%;
    height: 25rem;
    padding: 0rem 2rem;
}

.contact__options__container{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.form__container{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact__option {
    background-color: transparent;
    padding: 1rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid var(--color-white);
    width: 40%;
}

.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    padding: 1rem;
    border-radius: .5rem;
    background: transparent;
    border: 1px solid var(--color-white);
    resize: none;
    color: var(--color-white);
}

form button{
    background-color: transparent;
}













/* MEDIA QUERIES */

@media screen and (max-width: 1920px){
    /* No responsive CSS required */
}

@media screen and (max-width: 1536px){
    /* No responsive CSS required */
}

@media screen and (max-width: 1080px){
    /* No responsive CSS required */
}

@media screen and (max-width: 1024px){
    .contact__container > div{
        width: 50%;
        padding: 0rem 0rem;
    }

    .contact__options__container{
        flex-direction: column;
        justify-content: space-evenly;
    }

}

@media screen and (max-width: 950px){
    /* No responsive CSS required */
}

@media screen and (max-width: 896px){
    /* No responsive CSS required */
}

/* iPhone 12 Pro (landscape) */
@media screen and (max-width: 844px){
    /* No responsive CSS required */
}

/* iPad Air (potrait) */
@media screen and (max-width: 820px){
    .contact__option{
        width: 50%;
    }
}

@media screen and (max-width: 800px){
    /* No responsive CSS required */
}

/* iPad (potrait) */
@media screen and (max-width: 768px){
    /* No responsive CSS required */
}

/* iPhone 8+ (landscape) */
@media screen and (max-width: 736px){
    /* No responsive CSS required */
}

/* iPhone 6 (landscape) */
@media screen and (max-width: 667px){
    .contact__container{
        padding: 1rem 0rem;
        flex-direction: column;
    }

    .contact__options__container{
        flex-direction: row;
    }

    .contact__container > div{
        height: auto;
        padding: 2rem 0rem;
        width: 80%;
    }

    .contact__option{
        width: 40%;
    }

    .form__container button{
        margin: 0 auto;
    }

}

@media screen and (max-width: 414px){
    .contact__options__container{
        flex-direction: column;
    }

    .contact__container > div{
        width: 100%;
    }

    .contact__option{
        width: 60%;
        margin: 1rem 0rem;
    }

}

@media screen and (max-width: 375px){
    /* No responsive CSS required */
}

@media screen and (max-width: 360px){
    /* No responsive CSS required */
}

@media screen and (max-width: 320px){
    /* No responsive CSS required */
}